---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Portada from '../components/Portada.astro';
import HoyEnLaMesa from '../components/HoyEnLaMesa.astro';
import PuertoBrasa from '../components/PuertoBrasa.astro';
import GaleriaEditorial from '../components/GaleriaEditorial.astro';
import Reserva from '../components/Reserva.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Base>
  <Header />
  <main>
    <Portada />
    <HoyEnLaMesa />
    <PuertoBrasa />
    <GaleriaEditorial />
    <Reserva />
  </main>
  <Footer />
  <WhatsAppFloat />
</Base>
