---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Especialidades from '../components/Especialidades.astro';
import Nosotros from '../components/Nosotros.astro';
import Galeria from '../components/Galeria.astro';
import Opiniones from '../components/Opiniones.astro';
import HorarioUbicacion from '../components/HorarioUbicacion.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Especialidades />
    <Nosotros />
    <Galeria />
    <Opiniones />
    <HorarioUbicacion />
    <Contacto />
  </main>
  <Footer />
  <WhatsAppFloat />
</Base>
